<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout rows="auto,auto,auto" width="100%" height="100%">
            <GridLayout row="0" class="upper-container" verticalAlignment="top">
                <StackLayout width="12%" height="8%" marginLeft="5%" marginTop="5%" verticalAlignment="top"
                    horizontalAlignment="left">
                    <Button class="back-button" (tap)="onBack()"></Button>
                </StackLayout>
                <Image src="res://logo" width="80vh" height="80vh" verticalAlignment="top" marginTop="20%"></Image>
                <Image src="res://logo_transparent" width="70%" height="70%" verticalAlignment="top" marginTop="50%"
                    marginLeft="80%">
                </Image>
            </GridLayout>
            <GridLayout row="0" marginTop="30%" height="50%" width="100%">
                <GridLayout #loginCard orientation="vertical" width="80%" height="90%" rows="auto,auto,auto,auto"
                    (loaded)="onLoginLoaded($event)">
                    <StackLayout row="0" width="50%" height="30%" marginTop="5%" verticalAlignment="middle">
                        <Label color="#707070" fontSize="30%" textWrap="true" textAlignment="center"
                            [text]="heading"></Label>
                    </StackLayout>
                    <GridLayout row="1" marginTop="10%" height="20%" width="80%" columns="auto,auto,auto,auto">
                        <StackLayout col="0" class="textfield-container" orientation="horizontal">
                            <TextField #textField1 height="100%" width="100%" padding="0" fontSize="40%" maxLength="1"
                                keyboardType='phone' textAlignment="center" color="#23A6DB"
                                style.placeholderColor="#B9B9B9" (textChange)="otp1Field($event)"
                                borderColor="transparent" borderWidth="1" autocorrect="false">
                            </TextField>
                        </StackLayout>
                        <StackLayout col="1" class="textfield-container" marginLeft="6%" orientation="horizontal">
                            <TextField #textField2 height="100%" width="100%" padding="0" fontSize="40%" maxLength="1"
                                keyboardType='phone' textAlignment="center" color="#23A6DB"
                                style.placeholderColor="#B9B9B9" (textChange)="otp2Field($event)"
                                borderColor="transparent" borderWidth="1" autocorrect="false">
                            </TextField>
                        </StackLayout>
                        <StackLayout col="2" class="textfield-container" marginLeft="6%" orientation="horizontal">
                            <TextField #textField3 height="100%" width="100%" padding="0" fontSize="40%" maxLength="1"
                                keyboardType='phone' textAlignment="center" color="#23A6DB"
                                style.placeholderColor="#B9B9B9" (textChange)="otp3Field($event)"
                                borderColor="transparent" borderWidth="1" autocorrect="false">
                            </TextField>
                        </StackLayout>
                        <StackLayout col="3" class="textfield-container" marginLeft="6%" orientation="horizontal">
                            <TextField #textField4 height="100%" width="100%" padding="0" fontSize="40%" maxLength="1"
                                keyboardType='phone' textAlignment="center" color="#23A6DB"
                                style.placeholderColor="#B9B9B9" (textChange)="otp4Field($event)"
                                borderColor="transparent" borderWidth="1" autocorrect="false">
                            </TextField>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout row="2" width="100%" height="40%" verticalAlignment="middle">
                        <Button class="next-button" [text]="nextButton" (tap)="onNextClick()"></Button>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
            <GridLayout row="2" height="15%" width="100%">
                <StackLayout orientation="horizontal" horizontalAlignment="center" verticalAlignment="middle"
                    (tap)="onResendOtpClick()">
                    <Label color="#707070" fontSize="16" textAlignment="center" text="Resend"></Label>
                    <Label color="#707070" fontSize="16" textAlignment="center" fontWeight="500" text=" OTP"></Label>
                </StackLayout>
            </GridLayout>
        </GridLayout>

        <!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->

        <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
            <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
                [busy]="isLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>