<!-- <Page actionBarHidden="true"> -->
<GridLayout @routeAnimations class="page">
    <GridLayout rows="auto,auto,auto" width="100%" height="100%">
        <GridLayout row="0" class="upper-container" verticalAlignment="top">
            <Image [src]="logoIcon" width="80vh" height="80vh" verticalAlignment="top" marginTop="20%">
            </Image>
            <Image [src]="logoTransparentIcon" width="70%" height="70%" verticalAlignment="top"
                marginTop="50%" marginLeft="80%">
            </Image>
        </GridLayout>
        <GridLayout row="0" marginTop="30%" height="50%" width="100%">
            <GridLayout #loginCard orientation="vertical" width="80%" height="90%" rows="auto,auto,auto,auto"
                androidElevation="10" backgroundColor="white" borderRadius="7%">
                <StackLayout row="0" width="95%" height="15%" marginTop="5%" verticalAlignment="middle">
                    <Label color="#707070" fontSize="30%" textAlignment="center" [text]="heading"></Label>
                </StackLayout>
                <StackLayout row="1" class="textfield-container" orientation="horizontal" borderWidth="1"
                    [borderBottomColor]="mobileBorderColor" borderLeftColor="transparent" borderRightColor="transparent"
                    borderTopColor="transparent" [borderWidth]="mobileBorderWidth">
                    <GridLayout class="iconTextField" height="15%" width="15%">
                        <Image height="60%" width="60%" marginRight="15%" horizontalAlignment="center"
                            [src]="userIcon">
                        </Image>
                    </GridLayout>
                    <TextField [hint]="mobileHint" width="85%" fontSize="16%" color="#23A6DB"
                        style.placeholderColor="#B9B9B9" (textChange)="mobileTextField($event)"
                        borderColor="transparent" borderWidth="1" autocorrect="false" maxLength="10"
                        keyboardType="phone">
                    </TextField>
                </StackLayout>
                <StackLayout row="2" width="100%" height="40%" verticalAlignment="middle">
                    <Button class="send-otp-button" [text]="sendOtpButton" (tap)="onSendOtpClick()"></Button>
                </StackLayout>
                <StackLayout row="3" width="100%" height="20%" verticalAlignment="top">
                    <Label text="Cancel" fontSize="16" fontWeight="500" textAlignment="center"
                        (tap)="onCancel()"></Label>
                </StackLayout>
            </GridLayout>
        </GridLayout>
    </GridLayout>

    <!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->

    <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
        <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
            [busy]="isLoading" rowSpan="1" colSpan="1">
        </ActivityIndicator>
    </GridLayout>
</GridLayout>
<!-- </Page> -->