<Page actionBarHidden="true">

    <GridLayout class="page">
        <GridLayout rows="auto,auto" height="100%" width="100%">
            <StackLayout row="0" width="100%" height="40%" horizontalAlignment="center" backgroundColor="#273BD3"
                verticalAlignment="top">
                <Image src="res://icon" width="80vh" height="80vh" marginTop="10%"></Image>
            </StackLayout>

            <GridLayout row="0" marginTop="20%" height="70%" width="100%">
                <GridLayout #changePasswordCard orientation="vertical" width="85%" height="90%" borderRadius="20"
                    rows="auto,auto,auto,auto,auto" (loaded)="onChangePasswordLoaded($event)">
                    <StackLayout row="0" width="95%" height="15%" marginTop="5%" verticalAlignment="middle">
                        <Label color="#273BD3" fontSize="30" textAlignment="center"
                            [text]="changePasswordHeading"></Label>
                    </StackLayout>
                    <StackLayout row="1" class="textfeild-container" orientation="horizontal">
                        <GridLayout class="iconTextField" height="15%" width="10%" marginLeft="5%">
                            <Image height="100%" width="100%" marginRight="15%" horizontalAlignment="center"
                                src="res://password">
                            </Image>
                        </GridLayout>
                        <TextField [hint]="oldPasswordHint" width="85%" color="#273BD3" style.placeholderColor="#B9B9B9"
                            (textChange)="oldPasswordTextField($event)" borderWidth="1" borderColor="transparent"
                            autocorrect="false">
                        </TextField>
                    </StackLayout>
                    <StackLayout row="2" class="textfeild-container" orientation="horizontal">
                        <GridLayout class="iconTextField" height="15%" width="10%" marginLeft="5%">
                            <Image height="100%" width="100%" marginRight="15%" horizontalAlignment="center"
                                src="res://password">
                            </Image>
                        </GridLayout>
                        <TextField [hint]="newPasswordHint" width="85%" color="#273BD3" style.placeholderColor="#B9B9B9"
                            (textChange)="newPasswordTextField($event)" borderWidth="1" borderColor="transparent"
                            autocorrect="false" secure="true">
                        </TextField>
                    </StackLayout>
                    <StackLayout row="3" class="textfeild-container" orientation="horizontal">
                        <GridLayout class="iconTextField" height="15%" width="10%" marginLeft="5%">
                            <Image height="100%" width="100%" marginRight="15%" horizontalAlignment="center"
                                src="res://password">
                            </Image>
                        </GridLayout>
                        <TextField [hint]="confirmPasswordhint" width="85%" color="#273BD3"
                            style.placeholderColor="#B9B9B9" (textChange)="confirmPasswordTextField($event)"
                            borderWidth="1" borderColor="transparent" autocorrect="false" secure="true">
                        </TextField>
                    </StackLayout>
                    <StackLayout row="4" width="95%" height="15%" marginTop="5%">
                        <Button class="update-button" [text]="updatePasswordButton" (tap)="onUpdatePassword()"></Button>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </GridLayout>
    </GridLayout>

    <!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->

    <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
        <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
            [busy]="isFavouring" rowSpan="1" colSpan="1">
        </ActivityIndicator>
    </GridLayout>
</Page>