<Page actionBarHidden="true">
  <GridLayout class="page">
    <!-- <GridLayout class="slider" row="0">
            <Image width="100%" height="100%" src="res://slider" stretch="aspectFit"></Image>
        </GridLayout> -->

    <GridLayout #headerCard (loaded)="onHeaderLoaded($event)" verticalAlignment="top" height="8%" width="100%">
      <ns-header></ns-header>
    </GridLayout>
    <GridLayout #footerCard (loaded)="onFooterLoaded($event)" verticalAlignment="bottom" height="8%" width="100%">
      <ns-footer></ns-footer>
    </GridLayout>
    <GridLayout width="100%" height="84%">
      <GridView [items]="categories" colWidth="28%" rowHeight="24%" width="100%" height="100%">
        <ng-template let-item="item" let-odd="odd">
          <GridLayout #categoryCard width="80%" height="90%" backgroundColor="white" rows="auto,auto"
            (tap)="onCategoryClick(item)" (loaded)="onCategoryLoaded($event)">
            <StackLayout row="0" width="100%" height="75%" verticalAlignment="middle">
              <Image width="90%" height="90%" stretch="aspectFit" [src]="item.imageUrl"></Image>
            </StackLayout>
            <StackLayout row="1" width="100%" height="25%" verticalAlignment="top">
              <Label [text]="item.name" textWrap="true" fontSize="10%" color="#707070" textAlignment="center"></Label>
            </StackLayout>
          </GridLayout>
        </ng-template>
      </GridView>
    </GridLayout>

    <!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->

    <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
      <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
        [busy]="isLoading" rowSpan="1" colSpan="1">
      </ActivityIndicator>
    </GridLayout>
  </GridLayout>
</Page>