.page{
    /* background-image: url("res://background"); */
    background-size: cover;
    background-color: #F6F6F6;
    width:100%;
    height:100%;
}

.price-heading-container{
    width:50%;
    margin-left:10%;
    height:100%;
    vertical-align:middle;
}

.price-heading{
    font-size:16%;
    color:#707070;
}

.price-detail-container{
    width:30%;
    height:100%;
    vertical-align:middle;
    horizontal-align:right;
    orientation:horizontal;
}

.price-detail{
    font-size:16%;
    color:#404040;
    vertical-align:middle;
    font-weight:500;
}

.selected-button{
    font-size: 18%;
    border-radius: 100;
    background: linear-gradient(345deg,#8BDE22,#23A6DB);
    text-transform: initial;
    color:white;
    padding:0;
    height:45%;
    width:70%;
}

.unselected-button{
    font-size: 18%;
    border-radius: 100;
    background-color: #DBDBDB;
    text-transform: initial;
    color:white;
    padding:0;
    height:45%;
    width:70%;
}

.details-button{
    font-size: 12%;
    border-radius: 100;
    background: linear-gradient(345deg,#8BDE22,#23A6DB);
    text-transform: initial;
    color:white;
    padding:0;
    height:80%;
    width:80%;
}
.details-button:highlighted{
    /* background-color: #DBDBDB; */
    background: linear-gradient(345deg,#DBDBDB,#DBDBDB);
}
