.footer-icon{
    width:40%;
    height:40%;
    margin-left:10;
    margin-right:10;
    margin-top:10;
}
.header-icon{
    width:80%;
    height:30%;
}
.header-label{
    font-size: 20%;
    color: #707070;
    text-align: center;
}
.footer-label{
    font-size:10;
    margin-bottom:10;
    text-align: center;
}
.play-container{
    width:50;
    height:50; 
    vertical-align: middle;
    background-color: #273BD3;
    margin-right:10%;
    border-radius:25;
    margin-top: 65%;
    border-color:white;
    border-width:1;
}
.play-icon{
    width:20;
    height:20;
}