.page{
    /* background-image: url("res://background"); */
    background-size: cover;
    background-color: #F6F6F6;
    width:100%;
    height:100%;
}

.price-heading-container{
    width:50%;
    margin-left:10%;
    height:100%;
    vertical-align:middle;
}

.price-heading{
    font-size:16%;
    color:#707070;
}

.price-detail-container{
    width:30%;
    height:100%;
    vertical-align:middle;
    horizontal-align:right;
    orientation:horizontal;
}

.price-detail{
    font-size:16%;
    color:#404040;
    vertical-align:middle;
    font-weight:500;
}