@import '~/app/assets/constants/color-constant.scss';

.page {
  /* background-image: url("res://background"); */
  background-size: cover;
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
}
.checkout-button {
  font-size: 16%;
  border-radius: 100;
  background: linear-gradient(to left, $THEME_COLOR_1, $THEME_COLOR_2);
  text-transform: initial;
  color: white;
  /* border-color: white;
    border-width:1; */
  padding: 0;
  height: 60%;
  width: 50%;
}
.checkout-button:highlighted {
  background-color: white;
  /* border-color: #273BD3; */
  color: #273bd3;
}
.plus-minus-container {
  background: linear-gradient(to left, $THEME_COLOR_1, $THEME_COLOR_2);
  width: 20vw;
  height: 20vw;
  border-radius: 15vw;
  vertical-align: middle;
}

.price-heading-container {
  width: 50%;
  margin-left: 10%;
  height: 100%;
  vertical-align: middle;
}

.price-heading {
  font-size: 16%;
  color: #707070;
}

.price-detail-container {
  width: 30%;
  height: 100%;
  vertical-align: middle;
  horizontal-align: right;
  orientation: horizontal;
}

.price-detail {
  font-size: 16%;
  color: #404040;
  vertical-align: middle;
  font-weight: 500;
}
