<!-- <Page actionBarHidden="true"> -->
<GridLayout @routeAnimations class="page" height="100%">
    <GridLayout rows="auto,auto,auto" width="100%" height="100%">
        <GridLayout row="0" class="upper-container" verticalAlignment="top">
            <StackLayout width="12%" height="8%" marginLeft="5%" marginTop="5%" verticalAlignment="top"
                horizontalAlignment="left">
                <Button class="back-button" (tap)="onBack()"></Button>
            </StackLayout>
            <Image [src]="logoIcon" width="80vh" height="80vh" verticalAlignment="top" marginTop="20%">
            </Image>
            <Image [src]="logoTransparentIcon" width="70%" height="70%" verticalAlignment="top" marginTop="50%"
                marginLeft="80%">
            </Image>
        </GridLayout>
        <GridLayout row="0" marginTop="30%" height="60%" width="100%">
            <GridLayout #loginCard orientation="vertical" width="80%" height="90%" rows="auto,auto,auto,auto,auto"
                androidElevation="10" backgroundColor="white" borderRadius="7%">
                <StackLayout row="0" width="70%" height="18%" marginTop="2%" verticalAlignment="middle">
                    <Label color="#707070" fontSize="20%" textWrap="true" textAlignment="center"
                        [text]="heading"></Label>
                </StackLayout>
                <GridLayout row="1" marginTop="5%" height="15%" width="80%" columns="auto,auto,auto,auto">
                    <StackLayout col="0" class="textfield-container" orientation="horizontal" padding="0">
                        <TextField #textField1 height="100%" width="100%" padding="0" fontSize="40%" maxLength="1"
                            keyboardType='phone' textAlignment="center" color="#23A6DB" style.placeholderColor="#B9B9B9"
                            (textChange)="otp1Field($event)" borderColor="transparent" borderWidth="1"
                            autocorrect="false" margin="0">
                        </TextField>
                    </StackLayout>
                    <StackLayout col="1" class="textfield-container" marginLeft="6%" orientation="horizontal"
                        padding="0">
                        <TextField #textField2 height="100%" width="100%" padding="0" fontSize="40%" maxLength="1"
                            keyboardType='phone' textAlignment="center" color="#23A6DB" style.placeholderColor="#B9B9B9"
                            (textChange)="otp2Field($event)" borderColor="transparent" borderWidth="1"
                            autocorrect="false" margin="0">
                        </TextField>
                    </StackLayout>
                    <StackLayout col="2" class="textfield-container" marginLeft="6%" orientation="horizontal"
                        padding="0">
                        <TextField #textField3 height="100%" width="100%" padding="0" fontSize="40%" maxLength="1"
                            keyboardType='phone' textAlignment="center" color="#23A6DB" style.placeholderColor="#B9B9B9"
                            (textChange)="otp3Field($event)" borderColor="transparent" borderWidth="1"
                            autocorrect="false" margin="0">
                        </TextField>
                    </StackLayout>
                    <StackLayout col="3" class="textfield-container" marginLeft="6%" orientation="horizontal"
                        padding="0">
                        <TextField #textField4 height="100%" width="100%" padding="0" fontSize="40%" maxLength="1"
                            keyboardType='phone' textAlignment="center" color="#23A6DB" style.placeholderColor="#B9B9B9"
                            (textChange)="otp4Field($event)" borderColor="transparent" borderWidth="1"
                            autocorrect="false" margin="0">
                        </TextField>
                    </StackLayout>
                </GridLayout>
                <StackLayout row="2" width="90%" marginTop="5%" orientation="horizontal" borderWidth="1"
                    [borderBottomColor]="passwordBorderColor" borderLeftColor="transparent"
                    borderRightColor="transparent" borderTopColor="transparent" [borderWidth]="passwordBorderWidth">
                    <GridLayout class="iconTextField" height="15%" width="15%">
                        <Image height="60%" width="60%" marginRight="15%" horizontalAlignment="center" [src]="lockIcon">
                        </Image>
                    </GridLayout>
                    <TextField [hint]="passwordHint" width="70%" fontSize="16%" color="#23A6DB"
                        style.placeholderColor="#B9B9B9" (textChange)="passwordTextField($event)"
                        borderColor="transparent" borderWidth="1" autocorrect="false" [secure]="passwordSecure"
                        marginRight="0">
                    </TextField>
                    <Image [src]="eyeIcon" width="35" height="15" (tap)="onEye()"></Image>
                </StackLayout>
                <StackLayout row="3" width="90%" marginTop="5%" orientation="horizontal" borderWidth="1"
                    [borderBottomColor]="confirmPasswordBorderColor" borderLeftColor="transparent"
                    borderRightColor="transparent" borderTopColor="transparent"
                    [borderWidth]="confirmPasswordBorderWidth">
                    <GridLayout class="iconTextField" height="15%" width="15%">
                        <Image height="60%" width="60%" marginRight="15%" horizontalAlignment="center" [src]="lockIcon">
                        </Image>
                    </GridLayout>
                    <TextField [hint]="confirmPasswordHint" width="70%" fontSize="16%" color="#23A6DB"
                        style.placeholderColor="#B9B9B9" (textChange)="confirmPasswordTextField($event)"
                        borderColor="transparent" borderWidth="1" autocorrect="false" [secure]="confirmPasswordSecure"
                        marginRight="0">
                    </TextField>
                    <Image [src]="eyeIcon" width="35" height="15" (tap)="onConfirmEye()"></Image>
                </StackLayout>
                <StackLayout row="4" width="100%" height="20%" verticalAlignment="middle">
                    <Button class="next-button" [text]="nextButton" (tap)="onNextClick()"></Button>
                </StackLayout>
            </GridLayout>
        </GridLayout>
        <GridLayout row="2" height="10%" width="100%">
            <StackLayout orientation="horizontal" horizontalAlignment="center" verticalAlignment="middle"
                (tap)="onResendOtpClick()">
                <Label color="#707070" fontSize="16" textAlignment="center" text="Resend"></Label>
                <Label color="#707070" fontSize="16" textAlignment="center" fontWeight="500" text=" OTP"></Label>
            </StackLayout>
        </GridLayout>
    </GridLayout>
    <GridLayout *ngIf="isLoading" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>
</GridLayout>
<!-- </Page> -->