<Page actionBarHidden="true">
  <GridLayout class="page">
    <CardView #weightDialog modal size="lg" duration="100" backgroundColor="transparent" (tap)="onOutsideClick()">
      <GridView [items]="weights" colWidth="90%" rowHeight="8%" width="40%" height="60%" backgroundColor="transparent">
        <ng-template let-item="item" let-odd="odd">
          <StackLayout width="100%" height="100%" verticalAlignment="middle">
            <Button class="weight-button" [text]="item.value+' '+item.unit" (tap)="onWeight(item)">
            </Button>
          </StackLayout>
        </ng-template>
      </GridView>
    </CardView>
    <StackLayout *ngIf="!isProducts" width="95%" height="10%" verticalAlignment="middle">
      <Label [text]="productMessage" fontSize="16%" color="#8BDE22" fontWeight="500" textAlignment="center"
        textWrap="true"></Label>
    </StackLayout>
    <GridLayout #headerCard (loaded)="onHeaderLoaded($event)" verticalAlignment="top" height="8%" width="100%">
      <ns-header></ns-header>
    </GridLayout>
    <GridLayout #footerCard (loaded)="onFooterLoaded($event)" verticalAlignment="bottom" height="8%" width="100%">
      <ns-footer></ns-footer>
    </GridLayout>
    <GridLayout rows="auto,auto" width="100%" height="100%">
      <GridLayout row="0" width="100%" height="84%" marginTop="8%">
        <GridView [items]="products" colWidth="90%" rowHeight="18%" marginTop="1%" width="100%" height="100%"
          backgroundColor="transparent">
          <ng-template let-item="item" let-odd="odd">
            <GridLayout #cartCard width="90%" height="90%" backgroundColor="white" marginLeft="8%" marginRight="8%"
              marginTop="10%" marginBottom="10%" columns="auto,auto,auto" (loaded)="onCartLoaded($event)">
              <StackLayout #cartImage col="0" width="25%" height="100%" backgroundColor="#F3F3F3"
                verticalAlignment="middle" (loaded)="onCartImageLoaded($event)">
                <Image width="90%" height="90%" [src]="item.imageUrl"></Image>
              </StackLayout>
              <GridLayout col="1" width="50%" height="100%" rows="auto,auto,auto">
                <StackLayout row="0" width="95%" height="40%" verticalAlignment="middle">
                  <Label [text]="item.name" color="#707070" fontSize="18%" textAlignment="left"></Label>
                </StackLayout>
                <GridLayout row="1" width="95%" height="20%" columns="auto" verticalAlignment="middle">
                  <StackLayout col="0" height="100%" width="100%" verticalAlignment="middle" orientation="horizontal">
                    <Label text="MRP " color="#707070" fontSize="12%" textAlignment="left"></Label>
                    <Label text="Rs " color="#707070" fontSize="12%" textAlignment="left"></Label>
                    <Label [text]="item.marketPrice" color="#707070" fontSize="12%" textAlignment="left"></Label>
                  </StackLayout>
                  <!-- <StackLayout col="0" height="1" width="32%" horizontalAlignment="left" verticalAlignment="middle"
                    marginLeft="18%" backgroundColor="#707070">
                  </StackLayout> -->
                </GridLayout>
                <StackLayout row="2" width="95%" height="40%" verticalAlignment="middle" orientation="horizontal">
                  <Label text="Rs " color="#404040" fontSize="18%" textAlignment="left" fontWeight="500"></Label>
                  <Label [text]="item.price" color="#404040" fontSize="18%" textAlignment="left"
                    fontWeight="500"></Label>
                </StackLayout>
              </GridLayout>
              <GridLayout col="2" width="25%" height="100%" rows="auto,auto" borderRadius="10">
                <StackLayout row="0" width="100%" height="50%" verticalAlignment="middle" (tap)="onSelectWeight(item)">
                  <GridLayout height="50%" width="80%" verticalAlignment="middle" borderColor="#707070"
                    borderRadius="5%" borderWidth="1" columns="auto,auto">
                    <StackLayout col="0" width="75%" height="100%" verticalAlignment="middle">
                      <Label [text]="item.weightValue+' '+item.weightUnit" fontSize="14%" textAlignment="center"
                        color="#707070"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="20%" height="100%" verticalAlignment="middle">
                      <Image src="res://down_arrow" width="80%" height="30%" stretch="aspectFit">
                      </Image>
                    </StackLayout>
                  </GridLayout>
                </StackLayout>
                <StackLayout row="1" width="100%" height="50%" verticalAlignment="middle">
                  <Button class="add-button" [text]="addButton" (tap)="onAddToCart(item)"></Button>
                </StackLayout>
              </GridLayout>
            </GridLayout>
          </ng-template>
        </GridView>
      </GridLayout>
    </GridLayout>

    <!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->

    <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
      <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
        [busy]="isLoading" rowSpan="1" colSpan="1">
      </ActivityIndicator>
    </GridLayout>
  </GridLayout>
</Page>